<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방 정보 수정</title>
    <style>
        form {
            display: inline-block;
        }
    </style>
</head>
<body>

<form action="/editChattingRoom" method="post" enctype="multipart/form-data">
    <input type="hidden" id="roomId" name="roomId" th:value="${roomId}">
    채팅방 이름: <input type="text" id="roomName" name="roomName" placeholder="변경할 채팅방 이름"><br>
    채팅방 이미지: <input type="file" name="roomImage" value="사진 업로드"><br>
    <input type="submit" id="sendBtn" value="변경">
    <input type="button" value="취소">

    <script>
        window.onload = function() {
            window.resizeTo(document.forms[0].offsetWidth, document.forms[0].offsetHeight);
        }
    </script>
</form>
</body>
</html>